- title @post.titulo

%small 
  Publicado em
  = @post.created_at.to_s(:small)

%p
  =@post.descricao_html

%p
  =@post.texto_html

%p
  = link_to "Editar", edit_admin_post_path(@post)
  |
  = link_to "Apagar", [:admin,@post], :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "Voltar", admin_posts_path
