- title @post.titulo

%small 
  Publicado em
  = @post.created_at.to_s(:small)

%p
  =@post.descricao_html

%p
  =@post.texto_html

%p
  = link_to "Editar", edit_admin_post_path(@post)
  |
  = link_to "Apagar", [:confirm_destroy, :admin,@post], :class => "delete"
  |
  = link_to "Voltar", admin_posts_path
